.User{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    background-color: bisque;
    margin: 15px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 15px;


    & span{
        cursor: pointer;
        color: red;
        font-weight: 900;

    }
}
.Count{
    color: wheat;
    background-color: yellowgreen;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8;
    cursor: pointer;
    font-weight: 600;

}
[type='submit']{
    color: antiquewhite;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
    background-color: orange;
    margin: 10px;
    border: 0;
    cursor: pointer;
}