*{
    transition: all 1s ease;

}
.Items{
    &__Carts{
        display: flex;
        flex-wrap: wrap;

    }
    &__Cart{
        display: flex;
        flex-direction: column;
        border: 3px solid grey;
        border-top:0;
        border-radius: 10px;
        align-items: end;
        padding: 15px;
        margin: 15px;
        &:hover{
            transform: translateX(150px);
        }
        & > span{
            color:#fff;
            background-color: orange;
            border-radius: 15px;
            padding: 15px;
            margin: 5px;
            font-weight: 600;
            cursor: pointer;
            border: 1px solid #111;
            transform: rotateX(45deg);
        }
    }
    &__CartProducts{
        display: flex;
        border: 2px solid green;
        border-top:0;
        border-radius: 10px;
    }
    &__CartProduct{
        border: 1px solid blue;
        margin: 15px;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        & > img{
            width: 150px;
            max-height: 300px;
            padding: 25px;
            margin: 10px;
            margin-bottom: 25px;
            background-color: bisque;
        }
        & > h2{
            font-size: 16px;
            max-width: 200px;
            padding: 10px;
           
        }
        & >span{
            display: flex;
            font-size: 12px;
            position: absolute;
            font-weight: 600;

        }
        & >span:first-of-type{
            right: 80px;
            bottom: 10px;
        }
        & >span:last-of-type{
            right: 10px;
            bottom: 10px;
        }
        &:hover{
            transform: scale(1.1);
        }

    }
}