.App {
  padding: 1em;
  form {
    margin: 20px auto;
    width: 600px;

    input {
      padding: 14px;
      font-size: 20px;
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
  }
  ul {
    width: 600px;
    margin: 0 auto;
    li {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      line-height: 1.6;
      border-left: 10px solid #10ce44;
      margin: 20px auto;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 10px;
      font-style: italic;
      background-color: #fff;
      span{
        color:#ff0404;
        cursor: pointer;
        font-weight: 600;
      }
      &.animated {
        animation: bounce-out-down 600ms ease 3;
      }
      &.removing{
        animation: delete 1200ms ease 1;
      }
      &.mounting{
        animation: mount 1200ms ease 1;
      }
    }
  }
}

@keyframes bounce-out-down {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  20% {
    opacity: 1;
    transform: scale(1.04);
    border-left-color: rgb(225, 255, 0);
    background-color: #ff0404;
    color: #fff;
  }

  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

@keyframes delete {
  0%{
transform: translateX(-200px);
  }
  100%{
    transform: translateX(1200px);
  }
  
}

@keyframes mount {
  0%{
transform: rotate(0deg)
  }
  100%{
    transform: rotate(180deg)
  }
  
}
