.Child {
    margin: 50px 0;
    padding: 1.3em;
    border-radius: 12px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    transition-delay: 0.1s;
    position: relative;
    &:hover {
      transform: scale(1.04, 1.04);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px inset;
      transition: 0.3s;
      border-color: brown;
    }
    &__md {
      width: max(30%, 300px);
      display: inline-block;
      margin: 30px 10px;
    }
    &__lg {
      width: max(50%, 320px);
    }
    &__xl {
      width: max(100%, 320px);
    }
    & img {
      width: 340px;
    }
    &__title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 32px;
    }
    &__icon{
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #fff;
      right: 0px;
      top: 0px;
      text-align: center;
      border-radius: 100% 0% 0% 100% / 0% 30% 70% 100%;
      cursor: pointer;
      &:hover {
        background-color: #ff0404;
        color: #fff;
        transition: 0.3s;
      }
      i {
        font-weight: 700;
        font-size: 26px;
        transform: translate(4px, 4px);
      }
    }
  }
  