.Users {
  margin: 30px auto;
  width: 70%;
  background-color: #555;
  padding: 2em;
  table {
    width: 100%;
    border: 1px solid #fff;
    border-collapse: collapse;
    font-size: 20px;
    & tr {
      transition: 0.2s;
      transition-delay: 0.1s;
      cursor: pointer;
      &:hover {
        background-color: #888;
        transition: 0.2s;
        transform: scale(1.02);
      }
    }
    th,
    td {
      padding: 12px;
      color: whitesmoke;
      border: 2px solid #333;
    }
  }
}
