.Users {
    margin: 30px auto;
    width: 70%;
    color: #555;
    padding: 1em;
    table {
        width: 100%;
        border: 1px solid #fff;
        border-collapse: collapse;
        th,
        td {
            padding: 12px;
            color: whitesmoke;
            
        }
    }
}