.App{
    max-width: 1200px;
    margin: 0 auto;
    color: #222;
    &__Title{
        margin-bottom: 20px;
        font-size: 40px;
    }
    &__Desc{
        color: gray;
        font-size: 20px;
    }
    &__Menu{
    margin: 30px auto;
    display: flex;
    gap: 40px;
    &__item{
        flex-grow: 0;
        flex: 0 0 30%;
        border: 1px solid #ccc;
        border-radius: 6px;
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
           }
           .content{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            font-size: 20px;
           }
       }
    }
    &__icon {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #fff;
        right: 0px;
        top: 0px;
        text-align: center;
        border-radius: 100% 0% 0% 100% / 0% 30% 70% 100%;
        cursor: pointer;
        &:hover {
          background-color: #ff0404;
          color: #fff;
          transition: 0.3s;
        }
        i {
          font-weight: 700;
          font-size: 26px;
          transform: translate(4px, 4px);
        }
      }
}