.App{
    min-width: 1200px;
    margin: 50px auto;
    color: #222;
    &__Title{
        margin-bottom: 20px;
        font-size: 40px;
    }
    &__Desc{
        line-height: 1.6;
        color: grey;
        font-size: 20px;
    }
    &__List{
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        &__item{
            flex-grow: 1;
            border: 1px solid #ccc;
            border-radius: 6px;

            img {
                width: 100%;
                object-fit: cover;
            }
            .content{
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                button{
                    padding: 12px;
                    background-color: #04041b;
                    width: 200px;
                    color: white;
                    border: 0;
                    font-weight: 700;
                    cursor: pointer;
                    font-size: 20px;
                    border-radius: 8px;
                }
            }
        }
    }
}