.App{
    min-width: 1200px;
    margin: 50px auto;
    color: #222;
    &__Title{
        margin-bottom: 20px;
        font-size: 40px;
    }
    &__Desc{
        line-height: 1.6;
        color: grey;
        font-size: 20px;
    }
    &__List{
        margin: 30px auto;
        display: flex;
        gap: 40px;
        &__item{
            flex-grow: 0;
            flex: 0 0 30%;
            border: 1px solid #ccc;
            border-radius: 6px;
            position: relative;
            img {
                width: 100%;
                object-fit: cover;
            }
            .content{
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                button{
                    padding: 12px;
                    background-color: #04041b;
                    width: 200px;
                    color: white;
                    border: 0;
                    font-weight: 700;
                    cursor: pointer;
                    font-size: 20px;
                    border-radius: 8px;
                }
            }
        }
    }
    &__icon{
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #fff;
        right: 0;
        top: 0;
        text-align: center;
        border-radius: 100% 0% 0% 100% / 0% 30% 70% 100%  ;
        cursor: pointer;
        &:hover{
            background-color: #ff0404;
            color: #fff;
            transition: 0.3s;
        }
        i{
            font-weight: 700;
            font-size: 26px;
            transform: translate(4px,4px);
        }
    }
}