.App {
    max-width: 1200px;
    margin: 50px auto;
    color: #222;
    &__Title {
      margin-bottom: 40px;
      font-size: 35px;
      text-align: center;
    }
    &__List {
      margin: 30px auto;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      &__item {
        flex-grow: 0;
        flex: 0 0 30%;
        border: 1px solid #ccc;
        border-radius: 6px;
        position: relative;
        &:hover .App__flagContainer{
          display: block;
        }
        &:hover{
          background-color: greenyellow;
        }
  
        img {
          width: 100%;
          object-fit: cover;
        }
        .content {
          padding: 20px;
          display: flex;
          gap: 16px;
  
        }
      }
    }
    &__icon {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #fff;
      right: 0px;
      top: 0px;
      text-align: center;
      border-radius: 100% 0% 0% 100% / 0% 30% 70% 100%;
      cursor: pointer;
      &:hover {
        background-color: #ff0404;
        color: #fff;
        transition: 0.3s;
      }
      i {
        font-weight: 700;
        font-size: 26px;
        transform: translate(4px, 4px);
      }
    }
    &__flagContainer{
      width: 100px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 40px;
      top: 10px;
      display: none;
    }
  }
  